.our-reason-container {
    position: relative;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    margin: 10rem 0;
    display: flex;
}

.our-reason-img {
    height: 35rem;
    border-radius: 0.5rem;
    box-shadow: -0.2rem 0.5rem 1rem #0000002c;
}

.our-reason-description {
    margin-left: 3.5rem;
    margin-top: 5rem;
}

.our-reason-title {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    color: #000000b8;
}

.our-reason-text {
    font-size: 1.4rem;
    line-height: 1.5;
    width: 75%;
    display: inline-block;
}

.areas-that-we-cover {
    width: 100%;
    height: 65rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areas-that-we-cover-background-img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.areas-that-we-blog-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areas-that-we-blog-title {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.areas-that-we-blog-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}

.areas-that-we-blog-item {
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.areas-that-we-blog-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 1s;
}

.areas-that-we-blog-item:hover::after {
    background-color: #340458;
    top: -100%;
}

.about-creator-container {
    width: 100%;
    position: relative;
    margin: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-creator-info-container {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    position: relative;
}

.about-creator-info-container::before {
    content: "";
    position: absolute;
    width: 22rem;
    height: 22rem;
    left: -1.5%;
    top: -5%;
    background: linear-gradient(to right, #c800d2, #00c8ff);
    border-radius: 50%;
}

.creator-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10rem;
    position: relative;
}

.creator-brief-description {
    position: absolute;
    width: 55%;
    background-color: #fff;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 1rem #0000001f;
    margin-left: 20rem;
}
@media screen and (max-width: 414px) {
    .our-reason-container {
        flex-wrap: wrap;
    }
    .our-reason-description {
        margin-left: 0;
    }
    .our-reason-img {
        width: 100%;
        object-fit: none;
    }
    .our-reason-text {
        width: 100%;
    }
    .areas-that-we-cover-background-img {
        object-fit: cover;
    }
    .areas-that-we-blog-title {
        text-align: center;
    }
    .areas-that-we-blog-item::after {
        display: none;
    }
    .areas-that-we-blog-item {
        font-size: 1.4rem;
    }
    .about-creator-container {
        flex-direction: column;
    }
    .creator-brief-description {
        position: relative;
        margin: 0;
        width: 85%;
    }
    .about-creator-info-container {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .creator-img {
        margin-top: 2.5rem;
    }
    .about-creator-info-container::before {
        top: auto;
        bottom: -3.25%;
        left: 50%;
        transform: translateX(-50%);
    }
}