.tag-tool-container {
    width: 88%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}
.tag-list {
    display: flex;
    position: relative;
    margin: 1.5rem 0;
    flex-wrap: wrap;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: #00000000;
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
}
.tag-list .tag {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid #0000001c;
    background-color: #fff;
    margin: 1rem 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: "OswaldL", Arial, Helvetica, sans-serif;
}
.tag-list .tag:hover {
    border: 0.1rem solid #00a2ff;
    background-color:#00a2ff10;
}
.tag-selected {
    border: 0.1rem solid #00a2ff !important;
    background-color:#00a2ff10 !important;
}
.posts-container {
    position: relative;
    margin: 5rem 0;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-container {
    position: relative;
    width: 40%;
    height: 25rem;
    margin: 1rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    border: 0.1rem solid #0000005b;
    cursor: pointer;
}
.post-container:last-child {
    justify-self: start;
}
.post-container:hover .post-description {
    left: 100%;
    width: 100%;
}
.post-img-container {
    width: 100%;
    position: relative;
}
.post-img-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000003f;
}
.post-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.post-description {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 1rem;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.see-more-tags-button {
    width: 15%;
    padding: 0;
    text-align: left;
}
.title-post {
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    color: #000000d6;
}
.post-controller-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2.5rem 0;
    align-items: center;
    width: 100%;
}
.post-controller {
    width: 25%;
    display: flex;
    justify-content: center;
}
.post-controller-button {
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid #00000025;
    color: #00000094;
    cursor: pointer;
}
.post-controller-button:hover {
    border: 0.1rem solid #00a2ff;
    background-color:#00a2ff10;
}
.post-controller-forward {
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
}
.post-controller-backward {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.not-allowed {
    background-color: #00000025;
}
.not-allowed:hover {
    background-color: #00000025;
}

@media screen and (max-width: 414px) {
    .tag-list {
        height: auto;
    }
    .post-container {
        width: 100%;
    }
    .post-description {
        height: 25%;
        top: auto;
        bottom: 0;
    }
    .title-post {
        font-size: 2rem;
    }
}