@font-face {
    font-family: "OswaldL";
    src: url('../FONT/Oswald-Light.ttf');
}
@font-face {
    font-family: "OswaldR";
    src: url('../FONT/Oswald-Regular.ttf');
}
@font-face {
    font-family: "OswaldM";
    src: url('../FONT/Oswald-Medium.ttf');
}
@font-face {
    font-family: "OswaldB";
    src: url('../FONT/Oswald-Bold.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: "OswaldR", Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
.u--heading2 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000c6;
}